@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
	font-family: Poppins, sans-serif;
}

.hero {
	font-weight: 600;
	line-height: 125%;
}
.hero-1 {
	color: #000;
}
.hero-2 {
	background: linear-gradient(180deg, #08b8fa 0%, #213771 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.hero-3 {
	color: #c33a1e;
}

.pc {
	background-image: url("/pc.jpeg");
	background-size: cover;
	background-position: center;
}

section {
	position: relative;
	z-index: 20;
}

.content img {
	height: 20%;
	object-fit: cover;
}

.content-tiles {
	height: 20%;
}

.animate-tiles {
	animation: tiles 15s linear infinite;
}

@keyframes tiles {
	0% {
		transform: rotateX(45deg);
	}

	100% {
		transform: rotateX(45deg);
	}
}
